

* {
  
  text-align: center;
}

.movieList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  margin: 20px;
  padding: 0;
}

.moviesCard{
  border: 3px solid;
  background-color: beige;
  margin: 10px;
}

.movieImage{
  width: 100%;
    height: 25vw;
    object-fit: cover;
}

.moviesContainer {
  margin-top: 20px;
}

